1. pip install mcp3008
2.pip install xlsxwriter
3. pip install paho-mqtt
4.pip install smbus2
5. pip install bmp280  // for bmp280 sensor
6.git clone https://github.com/adafruit/Adafruit_Python_DHT.git and sudo python setup.py install // for dht11 sensor
